

<%= content_tag :div, :id => element_id, :class => 'carousel slide', 'data-ride' => 'carousel',
                             'data-interval' => delay do %>
  <% if use_indicators %>
    <ol class="carousel-indicators">
      <% images.each_with_index do |img, n| %>
          <%= content_tag :li, '', 'data-target' => "##{element_id}", 'data-slide-to' => n,
                          :class => n == 0 ? 'active' : nil %>
      <%  end %>
    </ol>
  <% end %>


    <div class="carousel-inner">
      <% images.each_with_index do |img, n| %>
          <%= content_tag :div, :class => n == 0 ? 'item active' : 'item' do %>
            <!--<div class="inner_carousel_item">-->
              <%= image_tag img %>
            <!--</div>-->

            <% if labels.count > 0 %>
              <div class='carousel-caption'>
                <h3>
                  <%= img.description.to_s %>
                </h3>
              </div>
            <% end %>
          <% end %>
      <% end %>
    </div>

    <%= content_tag :a, '', :href => "##{element_id}", :class => 'left carousel-control', 'data-slide' => 'prev' do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
    <% end %>
    <%= content_tag :a, '', :href => "##{element_id}", :class => 'right carousel-control', 'data-slide' => 'next' do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
    <% end %>
<% end %>